.grid {
	&__col {
		@include grid-colors($grid-colors){
			color: darken($grey, 15%);
			border-radius: em(5px);
			//padding: em(10px) 0;
			margin: em(10px) auto;
		}
	}
}
	

// ================================
// Grid system for desktop
// ================================

@include mq(large) {
@include g-columns;
  .grid__col {
  	@include flex_col;
  	&--12 {
  		@include flexbox($direction: row, $content: space-between);
  	}
  	&--9 {
  		align-self: center;
  	}
  }
.centered {
  margin: 0 auto;
  display: block;
	}
}