* {
	box-sizing: border-box;
}

body {
	color: palette(grey);
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  width: 90%;
  margin: 0 auto;
}


